.require {
  color: rgb(241, 1, 1);
}

.error-message {
  font-size: smaller;
  padding-left: 15px;
  color : rgb(241, 1, 1);
}
ion-card{
	border-radius : 0px;
	box-shadow : #fff;
}
ion-icon{
	color:#E99497;
	font-size: 20px;
	
}
ion-input{
	margin-left:10px;
}
ion-datetime{
	margin-left:10px;
}
ion-select{
	margin-left:10px;
}
ion-textarea{
	margin-left:10px;
	margin-top:0px;
}
text-area{
	padding : 0px;
}