<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar color="danger">
  	<ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Absolute Returns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="mainForm" (ngSubmit)="storeReturns()">
			<ion-button expand="block" type="submit">Save</ion-button>
  		<ion-card>
        <ion-item>
          <ion-label>Provident Fund </ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-input  formControlName="ProvidentFund" value="{{mapAbsReturn.get('ProvidentFund')}}"></ion-input>%
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Mutual Fund</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="MutualFund" value="{{mapAbsReturn.get('MutualFund')}}"></ion-input>%
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Bank Deposit</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-input formControlName="BankDeposit" value="{{mapAbsReturn.get('BankDeposit')}}"></ion-input>%
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>CryptoCurrencies</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="Crypto"  value="{{mapAbsReturn.get('Crypto')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Stocks and Shares</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="SharesAndStocks"  value="{{mapAbsReturn.get('SharesAndStocks')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Bonds</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="Bonds" value="{{mapAbsReturn.get('Bonds')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Commodity</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="Commodity"  value="{{mapAbsReturn.get('Commodity')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>LIC</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="LIC"   value="{{mapAbsReturn.get('LIC')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Insurance</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="InsurancePlans" value="{{mapAbsReturn.get('InsurancePlans')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>ETF</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input  formControlName="ETF" value="{{mapAbsReturn.get('ETF')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Retirement Funds</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="RetirementFund" value="{{mapAbsReturn.get('RetirementFund')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Childs Future</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="ChildFutures" value="{{mapAbsReturn.get('ChildFutures')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Government Schemes</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="GovernmentFund" value="{{mapAbsReturn.get('GovernmentFund')}}"></ion-input>% -->
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Others</ion-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <ion-input formControlName="Others" value="{{mapAbsReturn.get('Others') }}"></ion-input>% -->
        </ion-item>
      </ion-card>
	</form>
</ion-content>