#single-card{
	border-radius : 0px;
	box-shadow : none;

}
ion-content{
    --background: #D3D3D3;
}
ion-icon{
	color:#E99497;
	font-size: 20px;
}
h6{
	color:grey;
	margin-bottom:2px;
	margin-top:10px;
	font-size : 15px;
}
#single-element{
	margin-left:15px;
	margin-bottom:10px;
	font-size : 13px;
}
