ion-card{
	border-radius : 0px;
	box-shadow : #fff;

}
ion-icon{
	color:#E99497;
	font-size: 20px;
}
h6{
	color:grey;
	margin-bottom:2px;
	margin-top:10px;
	font-size : 15px;
}
div{
	margin-left:15px;
	margin-bottom:10px;
	font-size : 13px;
}
