<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>View Your Investment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card id="single-card" *ngFor="let data of data">

		<ion-item>
			<ion-button expand="full"  slot="end" (click)="deleteInvestment(data.id)">Delete</ion-button>
			<ion-icon name="pricetags-sharp"></ion-icon><div id="single-element"><h6>Investment Title</h6>
			{{data.investment_title}}</div>
			
		</ion-item>
		<ion-item>
			<ion-icon name="cash-sharp"></ion-icon><div id="single-element"><h6>Amount</h6>
			{{data.investment_amount | number}}</div>
		</ion-item>
		<ion-item>
	    	<ion-icon name="caret-down-circle-sharp"></ion-icon><div id="single-element"><h6>Type</h6>
	    	{{data.investment_type}}</div>
  		</ion-item>
		<ion-item>
			<ion-icon name="apps-sharp"></ion-icon><div id="single-element"><h6>App invested on</h6>
			{{data.investment_app}}</div>
		</ion-item>
		<ion-item>
		  <ion-icon name="calendar-number-sharp"></ion-icon><div id="single-element"><h6>Started on</h6>
		  {{data.investment_started_on | date}}</div>
		</ion-item>
		<ion-item>
		  <ion-icon name="calendar-number-sharp"></ion-icon><div id="single-element"><h6>Maturing on</h6>
		 {{data.investment_maturing_on | date}}</div>
		</ion-item>
		<ion-item>
		  <ion-icon name="paper-plane-sharp"></ion-icon><div id="single-element"><h6>Expected ROI</h6>
		  {{data.investment_interest_rate}}%</div>
		</ion-item>
		<ion-item  lines="none">
			<ion-icon name="book-sharp"></ion-icon><div id="single-element"><h6>More Information</h6>
			{{data.investment_more_info}}</div>
		</ion-item>
	</ion-card>
</ion-content>
