<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pledge
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
	<ion-card>
	  <ion-card-header>
	    
	    <ion-card-title color="primary">&nbsp;&nbsp;MyInvest Jar</ion-card-title>
	    <ion-card-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pledge to invest</ion-card-subtitle>
	     	<ion-item> 
		     	<ion-card-subtitle>% per Trans. : &nbsp;</ion-card-subtitle>
					 
		     	<img slot="end" class="ion-padding-bottom" src="https://img.icons8.com/fluent/48/000000/money-box.png"/>
					 
			    <ion-select #year (ionChange)="onChange(year.value)" [(ngModel)]="defaultVal">
			      <ion-select-option value="0">NA</ion-select-option>
						<ion-select-option value="5">5</ion-select-option>
			      <ion-select-option value="10">10</ion-select-option>
			      <ion-select-option value="20">20</ion-select-option>
			    </ion-select>
					<br>
			  </ion-item>
				<ion-item> 
					<ion-card-subtitle>Above Trans. Limit : &nbsp;</ion-card-subtitle>
					
					<img slot="end" class="ion-padding-bottom" src="https://img.icons8.com/fluent/48/000000/money-box.png"/>
					
				 <ion-select #year (ionChange)="onChange(year.value)" [(ngModel)]="defaultSelect">
					 <ion-select-option value="0">NA</ion-select-option>
					 <ion-select-option value="5">5000</ion-select-option>
					 <ion-select-option value="10">10,000</ion-select-option>
					 <ion-select-option value="20">20,000</ion-select-option>
				 </ion-select>
				 <br>
			 </ion-item>
				<ion-item> 
					<p class="inst">** above % will be pledged per transactions done Above Limit and set aside for selected monthly investment options</p>
				</ion-item>
	  </ion-card-header>
	  </ion-card>
	<ion-card>
		<ion-card-content>
			<ion-icon name="arrow-forward-circle-outline"></ion-icon>&nbsp;<ion-label>Money in Jar (April 2022) : </ion-label><ion-button fill="outline" warning>₹ 20,000.0</ion-button>
			<ion-button (click)="optionViewClick()">View</ion-button><ion-button (click)="optionClick()"><ion-icon name="construct-outline" ></ion-icon></ion-button>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;Past Investment - MyInvest Jar</h6>
		<hr>
		<ion-card-content>
			<ion-icon name="arrow-forward-circle-outline"></ion-icon>&nbsp;<ion-label>March 2022 : </ion-label><ion-button fill="outline" warning>₹ 15,000.0</ion-button>
			<ion-button (click)="optionOldClick()" >View</ion-button>
		</ion-card-content>
		<ion-card-content>
			<ion-icon name="arrow-forward-circle-outline"></ion-icon>&nbsp;<ion-label>Feb 2022&nbsp;&nbsp;&nbsp;&nbsp; : </ion-label><ion-button fill="outline" warning>₹ 10,000.0</ion-button>
			<ion-button (click)="optionOldClick()" >View</ion-button>
		</ion-card-content>
		<ion-card-content>
			<ion-icon name="arrow-forward-circle-outline"></ion-icon>&nbsp;<ion-label>Jan 2022&nbsp;&nbsp;&nbsp;&nbsp; : </ion-label><ion-button fill="outline" warning>₹ 18,000.0</ion-button>
			<ion-button (click)="optionOldClick()" >View</ion-button>
		</ion-card-content>
	</ion-card>
	
</ion-content>
