<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>
      Track Your Investment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div padding>
    <ion-segment [(ngModel)]="home"  (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="portfolio">
        PortFolio 
      </ion-segment-button>
      <ion-segment-button value="insight">
        Insight
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="home">
    <ion-list *ngSwitchCase="'portfolio'">
      <ion-card>
        <ion-item>
          <ion-label>Provident Fund</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('ProvidentFund')">View</ion-button><ion-button fill="outline" (click)="addInvestment('ProvidentFund')">Add</ion-button>
        </ion-item>
        <ion-card-content text-wrap>
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <div>TotaInvested</div>
              </ion-col>
              <ion-col>
                <div align="right">Absolute Returns&nbsp;<ion-icon name="create-sharp"></ion-icon></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1>₹ 20,000 {{mapAmount.get('ProvidentFund') | number}}</h1>
              </ion-col>
              <ion-col>
                <h1 align="right">6.1 %</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Mutual Fund</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('MutualFund')">View</ion-button><ion-button fill="outline" (click)="addInvestment('MutualFund')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹  {{mapAmount.get('MutualFund') | number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Bank Deposit</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('BankDeposit')">View</ion-button><ion-button fill="outline" (click)="addInvestment('BankDeposit')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested </p>
          <h1>₹  {{mapAmount.get('BankDeposit') | number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>CryptoCurrencies</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('Crypto')">View</ion-button><ion-button fill="outline" (click)="addInvestment('Crypto')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('Crypto') | number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Stocks and Shares</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('SharesAndStocks')">View</ion-button><ion-button fill="outline" (click)="addInvestment('SharesAndStocks')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('SharesAndStocks') | number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Bonds</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('Bonds')">View</ion-button><ion-button fill="outline" (click)="addInvestment('Bonds')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('Bonds') | number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Commodity</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('Commodity')">View</ion-button><ion-button fill="outline" (click)="addInvestment('Commodity')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('Commodity')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>LIC</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('LIC')">View</ion-button><ion-button fill="outline" (click)="addInvestment('LIC')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('LIC')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Insurance</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('InsurancePlans')">View</ion-button><ion-button fill="outline" (click)="addInvestment('InsurancePlans')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('InsurancePlans')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>ETF</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('ETF')">View</ion-button><ion-button fill="outline" (click)="addInvestment('ETF')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('ETF')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Retirement Funds</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('RetirementFund')">View</ion-button><ion-button fill="outline" (click)="addInvestment('RetirementFund')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('RetirementFund')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Childs Future</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('ChildFutures')">View</ion-button><ion-button fill="outline" (click)="addInvestment('ChildFutures')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('ChildFutures')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Government Schemes</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('GovernmentFund')">View</ion-button><ion-button fill="outline" (click)="addInvestment('GovernmentFund')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('GovernmentFund')| number}}</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Others</ion-label>
          <ion-button fill="outline" (click)="viewInvestment('Others')">View</ion-button><ion-button fill="outline" (click)="addInvestment('Others')">Add</ion-button>
        </ion-item>

        <ion-card-content text-wrap>
          <p>Total Invested</p>
          <h1>₹ {{mapAmount.get('Others')| number}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-list>
    
  </div>
  <div [ngSwitch]="home">
  
    <div class="ion-padding" *ngSwitchCase="'insight'">
      <ion-card>
        <ion-card-header>
          
        </ion-card-header>
        <ion-card-content>
          <canvas style="height: 400px" height="400" #pieCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="ion-padding" *ngSwitchCase="'insight'">
      <ion-card>
        <ion-card-header>
          
        </ion-card-header>
        <ion-card-content>
          <canvas style="height: 400px" height="400" #pieCanvas2></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  
  </div>
  

</ion-content>
