<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Investment Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-card>
    <ion-item>
      <ion-input placeholder="Enter Amount of Investment" id="investment_amount" [(ngModel)]="investment_amount"  type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Investment Type" id="investment_freq" [(ngModel)]="investment_freq"  >
        <ion-select-option value="Week">Weekly</ion-select-option>
        <ion-select-option value="mon">Monthly</ion-select-option>
        <ion-select-option value="quat">Quarterly</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Expected Returns" id="investment_roi"  [(ngModel)]="investment_roi"  type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Investment Period (Years)" id="investment_period" [(ngModel)]="investment_period"  type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Want to Adjust for Inflation?" [(ngModel)]="inflation"  id="inflation" >
        <ion-select-option value="no">No inflation</ion-select-option>
        <ion-select-option value="6">6%</ion-select-option>
        <ion-select-option value="8">8%</ion-select-option>
        <ion-select-option value="10">10%</ion-select-option>
        <ion-select-option value="12">12%</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <div class="container" id="pad">
    <ion-button type="submit" expand="block" (click)="loadResult()">Calculate</ion-button>
  </div>
  <div id="result1" class="container res-box">
    <ion-item>
    <ion-label>Expected Amount:Rs {{expected_amount | number}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Invested Amount:Rs {{amount_invested | number}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Profit Amount:Rs {{profit_earned | number}}</ion-label>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <canvas style="height:300px" height="300" #pieCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
</ion-content>
